<h1 class="current-genre"><%= params[:genre]%></h1>

  <tbody>
	<% if @albums.count == 0 %>
		<h2>No Albums for this Genre</h2>
	<% else %>
		<% @albums.each do |album| %>
		
	      <tr>
	   <!--   	<td><%= link_to album.title, album %></td> -->
	      	<td><%= link_to image_tag(album.album_cover.variant(resize_to_fill: [300, 300, gravity: 'north']) ), album %></td> 
	      </tr>
	<% end %>	
  </tbody>
<% end %>

